.startContainer{
    height: 100%
}

.startContainer h1{
    font-size: 3.5em;
}

.startContainer p{
    margin-bottom: 2em;
    color: #ecfa00; 
}

.author{
    margin-top: 400px;
    color: #ecfa00;
}
