
body{
  display: flex;
  justify-content: center;
  text-align: center;
}

button{
  border-radius: 25px;
  border: 2px solid white;
  transition:.4s ;
  color: white;
  background: #1646a0;
  text-transform: uppercase;
  font-size: 1.2em;
  cursor: pointer;
  font-weight: bold;
  height: 50px;
  padding: 0 45px;

}

button:hover{
  background: #0923af;
}